{% extends "index.html" %}

{% block content %}
  <div class="container-fluid py-5">
    {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" m-2" id="msg" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
    <div class="card-body ">
      <h4 class="display-5 fw-bold float-start">Listado de Identificadores</h4>
      <a id="identificadorcreate" href="{% url 'createIdentificador'%}" 
        class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Identificador">
        <span class="material-symbols-outlined">
          list_alt_add
        </span>
      </a>
    </div>
    <p class="col-md-8 fs-4">
      Esta vista despliega todos los identificadores para las diferentes facturas.
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Version</th>
            <th scope="col">Ambiente de Destino</th>
            <th scope="col">Numero de Control</th>
            <th scope="col">Codigo de Generacion</th>
            <th scope="col">Modelo de Facturacion</th>
            <th scope="col">Tipo de Transmision</th>
            <th scope="col">Tipo de Contingencia</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
            {% for registro in object_list %}
              {% if registro.usuario.id == user.id or user.is_superuser %}
                <tr>
                  <td>{{ registro.version }}</td>
                  <td>{{ registro.ambiente }}</td>
                  <td>{{ registro.numeroControl }}</td>
                  <td>{{ registro.codigoGeneracion }}</td>
                  <td>{{ registro.tipoModelo }}</td>
                  <td>{{ registro.tipoOperacion }}</td>
                  <td>{{ registro.tipoContingencia }}</td>
                  <td>
                        <a id="identificadoredit" href="{% url 'updateIdentificador'%}" 
                            class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar Identificador">
                            <span class="material-symbols-outlined">
                            edit
                            </span>
                        </a>
                   </td>
              {% else %}
              {% endif %} 
            {% endfor %}
          {% else %}
            <tr>
              <th scope="row">No hay datos disponibles.</th>
            </tr>
          {% endif %}
        </tbody>
      </table>
    <a href="{% url 'panel_principal' %}" class="btn btn-link" role="button" aria-pressed="true">Regresar al principal</a>
    </div>
  </div>
{% endblock %}