{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" m-2" id="msg" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
  {% endif %}
</div>
  <div class="container-fluid py-1">
    <h3 class="display-5 fw-bold">Panel de Facturas</h3>
    <p class="col-md-8 fs-4">Aquí puedes ver los enlaces a las diferentes facturas asi como los datos complementarios.</p>
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <!--CARD HERE-->
        <div class="card">
          <div class="card-header">
            Panel de Datos Complementarios
          </div>
          <div class="card-body">
            <h5 class="card-title">Datos Complementarios</h5>
            <p class="card-text">Aquí se muestran sub paneles para ingresar datos compelemntarios como: municipio departamento, pais, unidad de medida, tipo de documento, etc.</p>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
          <!--CARD HERE-->
          <div class="card">
            <div class="card-header">
              Factura de Consumidor Final
            </div>
            <div class="card-body">
              <h5 class="card-title">Facturas de Consumidor Final</h5>
              <p class="card-text">Esta funcionalidad esta en proceso de implementacion, se paciente pronto estara para que la utilices</p>
              
            </div>
          </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
          <!--CARD HERE-->
          <div class="card">
            <div class="card-header">
              Facturas Sujeto Excluido
            </div>
            <div class="card-body">
              <h5 class="card-title">Facturas de Sujeto Excluido</h5>
              <p class="card-text">Aquí puedes ver todas las facturas de sujeto excluido que se han transmitido a hacienda.</p>
              <a href="{% url 'sujetoExcluidoMonth' year=2024 month=01 %}" class="btn btn-primary">Ver Facturas de Sujeto Excluido</a>
            </div>  
          </div>
      </div>    
      <div class="col-lg-4 d-flex align-items-stretch">
        <!--CARD HERE-->
        <div class="card">
          <div class="card-header">
            Comprobantes de Donacion
          </div>
          <div class="card-body">
            <h5 class="card-title">Comprobantes de Donacion</h5>
            <p class="card-text">Esta funcionalidad esta en proceso de implementacion, se paciente pronto estara para que la utilices</p>
            <a href="{% url 'comprobanteDonacionMonth' year=2024 month=01 %}" class="btn btn-primary">Ver Comprobantes de Donacion</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <!--CARD HERE-->
        <div class="card">
          <div class="card-header">
            Comprobantes de Credito Fiscal
          </div>
          <div class="card-body">
            <h5 class="card-title">Comprobantes de Credito Fiscal</h5>
            <p class="card-text">Esta funcionalidad esta en proceso de implementacion, se paciente pronto estara para que la utilices</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
    <a href="{% url 'panel_administrativo' %}" class="btn btn-danger" role="button" aria-pressed="true">Regresar al panel principal</a>
  </div>
{% endblock %}