{% extends "base.html" %}

{% block content %}
  <div class="container-fluid py-1">
    <h3 class="display-5 fw-bold">Panel de facturas</h3>
    <p class="col-md-8 fs-4">Aquí puedes ver los enlaces a la administracion de las diferentes facturas.</p>

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <!--CARD HERE-->
        <div class="col-lg-4 d-flex align-items-stretch">
          <!--CARD HERE-->
          <div class="card">
            <div class="card-header">
              Factura de Consumidor Final
            </div>
            <div class="card-body">
              <h5 class="card-title">Facturas de Consumidor Final</h5>
              <p class="card-text">Aquí puedes ver todas las facturas de consumidor final que se han transmitido a hacienda.</p>
              <a href="{% url 'estadoList'  %}" class="btn btn-primary">Ver Facturas de Consumidor Final</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Facturas Sujeto Excluido
          </div>
          <div class="card-body">
            <h5 class="card-title">Facturas de Sujeto Excluido</h5>
            <p class="card-text">Aquí puedes ver todas las facturas de sujeto excluido que se han transmitido a hacienda.</p>
            <a href="{% url 'ticketsList' year=2023 month=01 %}" class="btn btn-primary">Ver Facturas de Sujeto Excluido</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <!--CARD HERE-->
        <div class="card">
          <div class="card-header">
            Comprobantes de Donacion
          </div>
          <div class="card-body">
            <h5 class="card-title">Comprobantes de Donacion</h5>
            <p class="card-text">Aquí puedes ver todas los comprobantes de donacion que se han transmitido a hacienda.</p>
            <a href="{% url 'estadoList'  %}" class="btn btn-primary">Ver Comprobantes de Donacion</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <!--CARD HERE-->
        <div class="card">
          <div class="card-header">
            Comprobantes de Credito Fiscal
          </div>
          <div class="card-body">
            <h5 class="card-title">Comprobantes de Credito Fiscal</h5>
            <p class="card-text">Aquí puedes ver todas los comprobantes de credito fiscal que se han transmitido a hacienda.</p>
            <a href="{% url 'estadoList'  %}" class="btn btn-primary">Ver Comprobantes de Credito Fiscal</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <a href="{% url 'panel_principal' %}" class="btn btn-link" role="button" aria-pressed="true">Regresar al panel principal</a>
  </div>
{% endblock %}