{% extends "../base.html" %}

{% block content %}
    <h1>Comprobante Donacion</h1>
    <form method= "post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ form.identificador.id_for_label }}" class="col-md-2 control-label">{{ form.identificador.label}}</label>
            <div class="col-sm-8">
                {{ form.identificador }}
            </div>
            <div class="col-sm-2">
                <a id="identificador" href="{% url 'identificadorCreate' %}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nuevo Identificador">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
            </div>
        </div>
        <br> 
        <div class="form-group row">
            <label for="{{ form.receptor.id_for_label }}" class="col-md-2 control-label">{{ form.receptor.label}}</label>
            <div class="col-sm-8">
                {{ form.receptor }}
            </div>
            <div class="col-sm-2">
                <a id="receptor" href="{% url 'receptorCreate' %}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nuevo Receptor">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
            </div>
        </div>
        <br> 
        {{ form.codDomicilio.label_tag }}
        {{ form.codDomicilio }}
        <br> 
        {{ form.pais.label_tag }}
        {{ form.pais }}
        <br> 
        {{ form.valorTotal.label_tag }}
        {{ form.valorTotal }}
        <br> 
        {{ form.totalLetras.label_tag }}
        {{ form.totalLetras }}
        <br> 
        {{ form.pago.label_tag }}
        {{ form.pago }}
        <br> 
        <input class="btn btn-success" type="submit" value="Guardar">
        <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}