{% extends "../index.html" %}

{% block content %}
  <div class="container-fluid py-5">
    {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" m-2" id="msg" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
    <div class="card-body ">
      <h4 class="display-5 fw-bold float-start">Listado de los cuerpos de los documentos de los comprobantes de donacion</h4>
      <a id="cuerpodocumentocreate" href="{% url 'createCuerpoDocumento'%}" 
        class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Cuerpo Documento">
        <span class="material-symbols-outlined">
          list_alt_add
        </span>
      </a>
    </div>
    <p class="col-md-8 fs-4">
      Esta vista despliega todos los cuerpos de documentos asociados a los comprobantes de donacion.
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N° Item</th>
            <th scope="col">Tipo de Donacion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Codigo</th>
            <th scope="col">Valor Unitario</th>
            <th scope="col">Valor Donado</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
            {% for registro in object_list %}
              {% if registro.usuario.id == user.id or user.is_superuser %}
                <tr>
                  <td>{{ registro.numItem }}</td>
                  <td>{{ registro.tipoDonacion }}</td>
                  <td>{{ registro.cantidad }} </td>
                  <td>{{ registro.codigo }} </td>
                  <td>{{ registro.valorUni }} </td>
                  <td>{{ registro.valor }} </td>
                  <td>
                        <a id="cuerpodocumentoedit" href="{% url 'updateCuerpoDocumento'%}" 
                            class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar Cuerpo del Documento">
                            <span class="material-symbols-outlined">
                            edit
                            </span>
                        </a>
                   </td>
              {% else %}
              {% endif %} 
            {% endfor %}
          {% else %}
            <tr>
              <th scope="row">No hay datos disponibles.</th>
            </tr>
          {% endif %}
        </tbody>
      </table>
    <a href="{% url 'panel_principal' %}" class="btn btn-link" role="button" aria-pressed="true">Regresar al principal</a>
    </div>
  </div>
{% endblock %}