{% extends "base.html" %}

{% block content %}
<div class="container-fluid py-5">
    <div class="container-fluid mb-3">
        <h1 class="mb-4">Datos de la Entidad</h1>
        {% if entidad.pk %}
            <a id="entidad" href="{% url 'entidadUpdate' entidad.pk %}" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Entidad">
                <span class="material-symbols-outlined">edit</span>
            </a>
        {% else %}
            <a id="entidad" href="{% url 'entidadCreate' %}" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Agregar Entidad">
                <span class="material-symbols-outlined">add</span>
            </a>
        {% endif %}
    </div>

    <div class="border p-4 shadow-sm">
        {% if entidad.pk %}
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Razon Social</th>
                        <td>{{ entidad.razonSocial }}</td>
                    </tr>
                    <tr>
                        <th>Direccion</th>
                        <td>{{ entidad.direccionEmisor.complementoDireccion }}</td>
                    </tr>
                    <tr>
                        <th>Correo</th>
                        <td>{{ entidad.email }}</td>
                    </tr>
                    <tr>
                        <th>Telefono</th>
                        <td>{{ entidad.cellphone }}</td>
                    </tr>
                    <tr>
                        <th>NIT</th>
                        <td>{{ entidad.nit }}</td>
                    </tr>
                    <tr>
                        <th>NRC</th>
                        <td>{{ entidad.nrc }}</td>
                    </tr>
                    <tr>
                        <th>Actividad Economica</th>
                        <td>{{ entidad.actividadEconomica.valor }}</td>
                    </tr>
                    <tr>
                        <th>Codigo del Establecimiento (MH)</th>
                        <td>{{ entidad.codEstableMH }}</td>
                    </tr>
                    <tr>
                        <th>Codigo del Establecimiento (Contribuyente)</th>
                        <td>{{ entidad.codEstable }}</td>
                    </tr>
                    <tr>
                        <th>Codigo de Punto de Venta (MH)</th>
                        <td>{{ entidad.codPuntoVentaMH }}</td>
                    </tr>
                    <tr>
                        <th>Codigo de Punto de Venta (Contribuyente)</th>
                        <td>{{ entidad.codPuntoVenta }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>No hay datos disponibles para esta entidad.</p>
        {% endif %}
    </div>

    <div class="mt-4">
        <a href="{% url 'panel_administrativo' %}" class="btn btn-primary">Regresar al Panel Principal</a>
    </div>
</div>
{% endblock %}
