{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" m-2" id="msg" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endif %}
</div>
  <div class="container-fluid py-5">
    <h3 class="display-5 fw-bold">Lista de usuarios</h3>
    <p class="col-md-8 fs-4">Aquí puedes ver la lista de usuarios</p>
    <div class="table-responsive">
      {% if user.is_superuser or user.is_entidad_superuser %}
        <a id="addadminuserentidad" href="{% url 'register_entity_admin' %}" 
          class="btn btn-success float-end" data-bs-toggle="tooltip" data-bs-placement="bottom" 
          title="Nuevo Administrador de Entidad">
          <span class="material-symbols-outlined">
            admin_panel_settings
          </span>
        </a>
      {% endif %}
      {% if user.is_superuser or user.is_entidad_superuser %}
        <a id="adduser" href="{% url 'create_user' %}" 
          class="btn btn-success float-end" data-bs-toggle="tooltip" data-bs-placement="bottom" 
          title="Nuevo Usuario">
          <span class="material-symbols-outlined">
            person_add
          </span>
        </a>
      {% endif %}
      {% if user.is_superuser or user.is_entidad_superuser %}
        <a id="addentidad" href="{% url 'entidadCreate' %}" 
          class="btn btn-success float-end" data-bs-toggle="tooltip" data-bs-placement="bottom" 
          title="Nueva Entidad">
          <span class="material-symbols-outlined">
            domain_add
          </span>
        </a>
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Fecha en que se unio</th>
            <th scope="col">Roles</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
            {% for registro in object_list %}
              <tr>
                <th>{{ registro.name }}</th>
                <td>{{ registro.lastname }}</td>
                <td>{{ registro.cellphone }}</td>
                <td>{{ registro.direccion }}</td>
                <td>{{ registro.date_joined }}</td>
                <td>{{ registro.group|join:", " }}</td>
                {% if user.is_superuser or user.is_entidad_superuser %}
                  <td>
                    <a id="veruser" href="{% url 'verUsuario'  registro.id %}" 
                        class="btn btn-success btn-sm "  title="Ver Usuario">
                        <span class="material-symbols-outlined">
                          visibility
                        </span>
                      </a>
                      <a id="veruser" href="{% url 'edit_user'  registro.id %}" 
                        class="btn btn-success btn-sm "  title="Editar Usuario">
                        <span class="material-symbols-outlined">
                          edit
                        </span>
                      </a>
                      <a id="veruser" href="{% url 'delete_user'  registro.id %}" 
                        class="btn btn-danger btn-sm "  title="Eliminar Usuario">
                        <span class="material-symbols-outlined">
                          person_remove
                        </span>
                      </a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}