{% extends "../base.html" %}

{% block content %}
    <h1>Operacion Sujeto Excluido</h1>
    <form method= "post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ form.numItem.id_for_label }}" class="col-md-2 control-label">{{ form.numItem.label }}</label>
            <div class="col-sm-8">
                {{ form.numItem }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.tipoItem.id_for_label }}" class="col-md-2 control-label">{{ form.tipoItem.label }}</label>
            <div class="col-sm-8">
                {{ form.tipoItem }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.codigo.id_for_label }}" class="col-md-2 control-label">{{ form.codigo.label }}</label>
            <div class="col-sm-8">
                {{ form.codigo }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.uniMedida.field.queryset.exists %}
                <label for="{{ form.uniMedida.id_for_label }}" class="col-md-2 control-label">{{ form.uniMedida.label}}</label>
                <div class="col-sm-8">
                    {{ form.uniMedida }}
                </div>
            {% else %}
                <p>No hay Unidades de medidas ingresadas en el sistema </p>
            {% endif %}
            <div class="col-sm-2">
                <a id="unidadmedida" href="{% url 'unidadMedidaCreate' %}?next={{ request.path }}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nueva Unidad de Medida">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
                {% if unidadMedida_id %}
                    <a id="unidadmedida" href="{% url 'unidadMedidaUpdate' unidadMedida_id %}?next={{ request.path }}" 
                        class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Unidad de Medida">
                        <span class="material-symbols-outlined">
                        edit
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.cantidad.id_for_label }}" class="col-md-2 control-label">{{ form.cantidad.label }}</label>
            <div class="col-sm-8">
                {{ form.cantidad }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.montoDescu.id_for_label }}" class="col-md-2 control-label">{{ form.montoDescu.label }}</label>
            <div class="col-sm-8">
                {{ form.montoDescu }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.compra.id_for_label }}" class="col-md-2 control-label">{{ form.compra.label }}</label>
            <div class="col-sm-8">
                {{ form.compra }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.retencion.id_for_label }}" class="col-md-2 control-label">{{ form.retencion.label }}</label>
            <div class="col-sm-8">
                {{ form.retencion }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.descripccion.id_for_label }}" class="col-md-2 control-label">{{ form.descripccion.label }}</label>
            <div class="col-sm-8">
                {{ form.descripccion }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.precioUni.id_for_label }}" class="col-md-2 control-label">{{ form.precioUni.label }}</label>
            <div class="col-sm-8">
                {{ form.precioUni }}
            </div>
        </div>
        <br>
        <input type="hidden" name="origin" value="operacionsujetoexcluido">
        <input class="btn btn-success" type="submit" value="Guardar">
        <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}