{% extends "../base.html" %}

{% block content %}
    <h1>Pago</h1>
    <form method= "post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ form.codigo.id_for_label }}" class="col-md-2 control-label">{{ form.codigo.label }}</label>
            <div class="col-sm-8">
                {{ form.codigo }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.formaPago.field.queryset.exists %}
                <label for="{{ form.formaPago.id_for_label }}" class="col-md-2 control-label">{{ form.formaPago.label}}</label>
                <div class="col-sm-8">
                    {{ form.formaPago }}
                </div>
            {% else %}
                <P>No existen formas de pago ingresadas en el sistema.</P>
            {% endif %}
            <div class="col-sm-2">
                <a id="formapago" href="{% url 'formaPagoCreate' %}?next={{ request.path }}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nueva Forma de Pago">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.montoPago.id_for_label }}" class="col-md-2 control-label">{{ form.montoPago.label }}</label>
            <div class="col-sm-8">
                {{ form.montoPago }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.referencia.id_for_label }}" class="col-md-2 control-label">{{ form.referencia.label }}</label>
            <div class="col-sm-8">
                {{ form.referencia }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.plazo.id_for_label }}" class="col-md-2 control-label">{{ form.plazo.label }}</label>
            <div class="col-sm-8">
                {{ form.plazo }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.periodo.id_for_label }}" class="col-md-2 control-label">{{ form.periodo.label }}</label>
            <div class="col-sm-8">
                {{ form.periodo }}
            </div>
        </div>
        <br>
        <input type="hidden" name="origin" value="pago">
        <input class="btn btn-success" type="submit" value="Guardar">
        <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}