{% extends "../base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Responses de Sujeto Excluido:  {{ response.sujetoExcluido.id }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Datos JSON</th>
                <th>Status Code</th>
                <th>Message</th>
                <th>Fecha y Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for response in responses %}
            <tr>
                <td>{{ response.nombre }}</td>
                <td>{{ response.datosJson }}</td>
                <td>{{ response.status_code }}</td>
                <td>{{ response.message }}</td>
                <td>{{ response.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="row mt-4">
        <div class="col-md-4 text-start">
            <a href="javascript:history.back()" class="btn btn-danger d-inline-flex align-items-center">
                <span class="material-symbols-outlined me-2">arrow_back</span>
                <span>Regresar</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}