{% extends "../index.html" %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" m-2" id="msg" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endif %}
</div>
  <div class="container-fluid py-5">
    <div class="container-fluid">
      <h3 class="display-5 fw-bold">Detalle del sujeto excluido {{object.serie}}
        <a id="tramite" href="{% url 'updateSujetoExcluido' object.id %}" 
            class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Sujeto Excluido">
            <span class="material-symbols-outlined">
              edit
            </span>
        </a>
      </h3>
      </div>
    <div class="table-responsive">
      <div class="border-black shadow-sm table-wrapper table-responsive-sm pt-0">
        {% if object %}
          <table>
            <thead>
              <tr>
                <th scope="col"><h2>Identificacion</h2></th>
                {% if not sujetoExcluido.transmitido  %}
                  <th scope="col">
                      <a id="identificador" href="{% url 'identificadorUpdate' object.identificador.id %}" 
                      class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Identificador">
                        <span class="material-symbols-outlined">
                          edit
                        </span>
                      </a>
                  </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label for="version">Version</label>
                  <input name="version" type="text" readonly class="form-control" value="{{ object.version }}">
                </td>
                <td>
                  <label for="ambiente">Ambiente de destino</label>
                  <input name="ambiente" type="text" readonly class="form-control" value="{{ object.ambiente }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="tipoDte">Tipo de documento</label>
                  <input name="tipoDte" type="text" readonly class="form-control" value="{{ object.tipoDte.valores }}">
                </td>
                <td>
                  <label for="numeroControl">Numero de Control</label>
                  <input name="numeroControl" type="text" readonly class="form-control" value="{{ object.numeroControl }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="codigoGeneracion">Codigo de Generacion</label>
                  <input name="codigoGeneracion" type="text" readonly class="form-control" value="{{ object.codigoGeneracion }}">
                </td>
                <td>     
                  <label for="tipoModelo">Modelo de Facturacion</label>
                  <input name="tipoModelo" type="text" readonly class="form-control" value="{{ object.tipoModelo }}">
                </td>
                <td>
                  <label for="tipoOperacion">Tipo de Transmision</label>
                  <input name="tipoOperacion" type="text" readonly class="form-control" value="{{ object.tipoOperacion }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="tipoContingencia">Tipo de Contingencia</label>
                  <input name="tipoContingencia" type="text" readonly class="form-control" value="{{ object.tipoContingencia }}">
                </td>
                <td>
                  <label for="motivoContin">Motivo de Contingencia</label>
                  <input name="motivoContin" type="text" readonly class="form-control" value="{{ object.motivoContin }}">
                </td>
                <td>
                  <label for="fechaEmi">Fecha de Generacion</label>
                  <input name="fechaEmi" type="text" readonly class="form-control" value="{{ object.fechaEmi }}">
                </td>
                <td>
                  <label for="tipoMoneda">Tipo de Moneda</label>
                  <input name="tipoMoneda" type="text" readonly class="form-control" value="{{ object.tipoMoneda }}">
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th scope="col"><h2>Datos del emisor</h2></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label for="emisor">Emisor</label>
                  <input name="emisor" type="text" readonly class="form-control" value="{{ object.emisor.razonSocial }}">
                </td>
                <td>
                  <label for="direccionEmisor">Direccion del Emisor</label>
                  <input name="direccionEmisor" type="text" readonly class="form-control" value="{{ object.emisor.direccionEmisor.complementoDireccion }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="cellphone">Telefono Movil</label>
                  <input name="cellphone" type="text" readonly class="form-control" value="{{ object.emisor.cellphone }}">
                </td>
                <td>
                  <label for="email">Email</label>
                  <input name="email" type="text" readonly class="form-control" value="{{ object.emisor.email }}">
                </td>
                <td>
                  <label for="nit">NIT</label>
                  <input name="nit" type="text" readonly class="form-control" value="{{ object.emisor.nit }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="codEstableMH">Codigo del establecimiento asignado por el MH</label>
                  <input name="codEstableMH" type="text" readonly class="form-control" value="{{ object.emisor.codEstableMH }}">
                </td>
                <td>
                  <label for="codPuntoVentaMH">Codigo del punto de venta asignado por el MH</label>
                  <input name="codPuntoVentaMH" type="text" readonly class="form-control" value="{{ object.emisor.codPuntoVentaMH }}">
                </td>
                
              </tr>
              <tr>
                <td>
                  <label for="codEstable">Codigo del establecimiento asignado por el contribuyente</label>
                  <input name="codEstable" type="text" readonly class="form-control" value="{{ object.emisor.codEstable }}">
                </td>
                <td>
                  <label for="codPuntoVenta">Codigo del punto de venta asignado por el contribuyente</label>
                  <input name="codPuntoVenta" type="text" readonly class="form-control" value="{{ object.codPuntoVenta }}">
                </td>
              </tr>
            </tbody>
          </table>         
          <table>
            <thead>
              <tr>
                <th scope="col"><h2>Datos del sujeto excluido</h2></th>
                {% if not sujetoExcluido.transmitido %}
                  <th scope="col">
                    <a id="receptor" href="{% url 'receptorUpdate' object.receptor.id %}" 
                      class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Receptor">
                      <span class="material-symbols-outlined">
                        edit
                      </span>
                    </a>
                  </th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label for="nombre">Nombre o Razon Social</label>
                  <input name="nombre" type="text" readonly class="form-control" value="{{ object.receptor.nombre }}">
                </td>
                <td>
                  <label for="direccionReceptor">Tipo de Documento</label>
                  <input name="direccionReceptor" type="text" readonly class="form-control" value="{{ object.receptor.direccionReceptor.complementoDireccion }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="actividadEconomica">Actividad Economica</label>
                  <input name="actividadEconomica" type="text" readonly class="form-control" value="{{ object.actividadEconomica.valor }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="tipo">Tipo de Documento</label>
                  <input name="tipo" type="text" readonly class="form-control" value="{{ object.receptor.tipo }}">
                </td>
                <td>
                  <label for="numero">Numero de Documento</label>
                  <input name="numero" type="text" readonly class="form-control" value="{{ object.receptor.numero }}">
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
        <div class="border-light shadow-sm table-wrapper table-responsive-sm pt-0">
          <div class="card-body submit-row">
            <h1>Cuerpo del documento</h1>
            {% if not sujetoExcluido.transmitido %}
              <a id="operacion" href="{% url 'operacionSujetoExcluidoCreate' object.id %}" 
                class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Operacion de SE">
                  <span class="material-symbols-outlined">
                    list_alt_add
                  </span>
              </a>
            {% endif %}
          </div>
          {% if object_list %}
            <h2>Operaciones</h2>
            <table>
              <thead>
                <th scope="col">N° de Item</th>
                <th scope="col">Tipo de Item</th>
                <th scope="col">Codigo</th>
                <th scope="col">Unidad de medida</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Monto del Descuento</th>
                <th scope="col">Ventas</th>
                <th scope="col">Retencion</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Acciones</th>
              </thead>
              <tbody>
                {% for operaciones in object_list.operacion %}
                  <tr>
                    <td>
                      <h2>{{operaciones.numItem}}</h2>
                    </td>
                    <td>
                      <h2>{{operaciones.tipoItem}}</h2>
                    </td>
                    <td>
                      <h2>{{operaciones.codigo}}</h2>
                    </td>
                    <td>
                      <h2>{{operaciones.cantidad}}</h2>
                    </td>
                    <td>
                      <h2>{{operaciones.compra}}</h2>
                    </td>
                    <td>
                      <h2>{{operaciones.precioUni}}</h2>
                    </td>
                    <td id="col1">
                      <a id="operacionver" href="{% url 'operacionVer' object.id %}" 
                          class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Operacion">
                          <span class="material-symbols-outlined">
                          visibility 
                          </span>
                        </a>
                    </td>
                    {% if not sujetoExcluido.transmitido %}
                      <td id="col">
                        <a id="operacionupdate" href="{% url 'operacionSujetoExcluidoUpdate' object.id %}" 
                            class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Operacion">
                            <span class="material-symbols-outlined">
                            edit 
                            </span>
                        </a>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="border-light shadow-sm table-wrapper table-responsive-sm pt-0">
          <table>
            <thead>
              <tr>
                <th scope="col"><h2>Resumen</h2></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label for="totalCompra">Total de operaciones</label>
                  <input name="totalCompra" type="text" readonly class="form-control" value="{{ object.totalCompra }}">
                </td>
                <td>
                  <label for="descu">Monto goblal de Descuento, Bonificacion, Rebajas</label>
                  <input name="descu" type="text" readonly class="form-control" value="{{ object.descu }}">
                </td>
                <td>
                  <label for="totalDescu">Total del monto de Descuento, Bonificacion, Rebajas</label>
                  <input name="totalDescu" type="text" readonly class="form-control" value="{{ object.totalDescu }}">
                </td>
                <td>
                  <label for="subtotal">Subtotal</label>
                  <input name="subtotal" type="text" readonly class="form-control" value="{{ object.subtotal }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="retencionIVAMH">Retencion IVA MH</label>
                  <input name="retencionIVAMH" type="text" readonly class="form-control" value="{{ object.retencionIVAMH }}">
                </td>
                <td>
                  <label for="ivaRete1">IVA Retenido</label>
                  <input name="ivaRete1" type="text" readonly class="form-control" value="{{ object.ivaRete1 }}">
                </td>
                <td>
                  <label for="reteRenta">Retencion de Renta</label>
                  <input name="reteRenta" type="text" readonly class="form-control" value="{{ object.reteRenta }}">
                </td>
                <td>
                  <label for="totalPagar">Total a pagar</label>
                  <input name="totalPagar" type="text" readonly class="form-control" value="{{ object.totalPagar }}">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="totalLetras">Total en Letras</label>
                  <input name="totalLetras" type="text" readonly class="form-control" value="{{ object.totalLetras }}">
                </td>
                <td>
                  <label for="condicionOperacion">Condicion de la operacion</label>
                  <input name="condicionOperacion" type="text" readonly class="form-control" value="{{ object.condicionOperacion }}">
                </td>
                <td>
                  <label for="observaciones">Observaciones</label>
                  <input name="observaciones" type="text" readonly class="form-control" value="{{ object.observaciones }}">
                </td>
              </tr>
              <tr>
                <td>
                  <table>
                    <thead>
                      <th scope="col">Codigo</th>
                      <th scope="col">Forma de Pago</th>
                      <th scope="col">Monto por forma de pago</th>
                      <th scope="col">Referencia de la modalidad de pagos</th>
                      <th scope="col">Plazo</th>
                      <th scope="col">Period de plazo</th>
                      <th scope="col">Accion</th>
                    </thead>
                    <tbody>
                      {% for pagos in object_list.pago %}
                        <tr>
                          <td>
                            <h2>{{pagos.formaPago.codigo}}</h2>
                          </td>
                          <td>
                            <h2>{{pagos.formaPago.valor}}</h2>
                          </td>
                          <td>
                            <h2>{{pagos.montoPago}}</h2>
                          </td>
                          <td>
                            <h2>{{pagos.referencia}}</h2>
                          </td>
                          <td>
                            <h2>{{pagos.plazo}}</h2>
                          </td>
                          <td>
                            <h2>{{pagos.periodo}}</h2>
                          </td>
                          {% if not sujetoExcluido.transmitido %}
                            <td>
                              <a id="pagoupdate" href="{% url 'pagoUpdate' object.pago.id %}" 
                                class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Pago">
                                <span class="material-symbols-outlined">
                                edit 
                                </span>
                              </a>
                            </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="border-light shadow-sm table-wrapper table-responsive-sm pt-0">
          <h2>Apendice</h2>
          <table>
            <thead>
              <th scope="col">Nombre de campo</th>
              <th scope="col">Descripccion</th>
              <th scope="col">Valor/Dato</th>
              <th scope="col">Accion</th>
            </thead>
            <tbody>
              {% for apendices in object_list.apendices %}
                <tr>
                  <td>
                    <h2>{{apendices.campo}}</h2>
                  </td>
                  <td>
                    <h2>{{apendices.etiqueta}}</h2>
                  </td>
                  <td>
                    <h2>{{apendices.valor}}</h2>
                  </td>
                  {% if not sujetoExcluido.transmitido %}
                    <td id="col">
                      <a id="apendiceupdate" href="{% url 'apendiceUpdate' apendices.id %}" 
                          class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Apendice">
                          <span class="material-symbols-outlined">
                          edit 
                          </span>
                        </a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
          {% endif %}
        {% endif %}
        
      </div>
    </div class="card-body submit-row">
    {% if not sujetoExcluido.transmitido %}
      <a id="transmitir" href="{% url 'transmitirSujetoExcluido' object.id %}" 
          class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Transmitir Sujeto Excluido">
          <span class="material-symbols-outlined">
          article_shortcut
          </span>
      </a>
    {% endif %}
    <a href="javascript:history.back()" class="btn btn-danger">Regresar</a>
  </div>
{% endblock %}