{% extends "../base.html" %}

{% block content %}
    <h1>Sujeto Excluido</h1>
    <form method= "post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ form.identificador.id_for_label }}" class="col-md-2 control-label">{{ form.identificador.label}}</label>
            <div class="col-sm-8">
                {{ form.identificador }}
            </div>
            <div class="col-sm-2">
                <a id="identificador" href="{% url 'identificadorCreate' %}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nuevo Identificador">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
            </div>
        </div>
        <br> 
        <div class="form-group row">
            <label for="{{ form.receptor.id_for_label }}" class="col-md-2 control-label">{{ form.receptor.label}}</label>
            <div class="col-sm-8">
                {{ form.receptor }}
            </div>
            <div class="col-sm-2">
                <a id="receptor" href="{% url 'receptorCreate' %}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nuevo Receptor">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
            </div>
        </div>
        <br> 
        {{ form.totalCompra.label_tag }}
        {{ form.totalCompra }}
        <br> 
        {{ form.descu.label_tag }}
        {{ form.descu}}
        <br> 
        {{ form.totalDescu.label_tag }}
        {{ form.totalDescu }}
        <br> 
        {{ form.subtotal.label_tag }}
        {{ form.subtotal }}
        <br> 
        {{ form.retencionIVAMH.label_tag }}
        {{ form.retencionIVAMH }}
        <br> 
        {{ form.ivaRete1.label_tag }}
        {{ form.ivaRete1 }}
        <br> 
        {{ form.reteRenta.label_tag }}
        {{ form.reteRenta }}
        <br> 
        {{ form.totalPagar.label_tag }}
        {{ form.totalPagar }}
        <br> 
        {{ form.totalLetras.label_tag }}
        {{ form.totalLetras }}
        <br> 
        {{ form.condicionOperacion.label_tag }}
        {{ form.condicionOperacion }}
        <br> 
        <div class="form-group row">
            <label for="{{ form.pago.id_for_label }}" class="col-md-2 control-label">{{ form.pago.label}}</label>
            <div class="col-sm-8">
                {{ form.pago }}
            </div>
            <div class="col-sm-2">
                <a id="pago" href="{% url 'pagoCreate' %}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nuevo Pago">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
            </div>
        </div>
        <br> 
        {{ form.observaciones.label_tag }}
        {{ form.observaciones }}
        <br>
        <input type="hidden" name="origin" value="sujetoexlcuido"> 
        <input class="btn btn-success" type="submit" value="Guardar">
        <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}