{% extends "../index.html" %}
{% block content %}
  <div class="container ">
    {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
              {{ message }}
          </div>
      {% endfor %}
    {% endif %}
    <h3 class="display-5 fw-bold">Sujeto Excluido</h3>
    <p class="col-md-8 fs-4">
      En esta vista se actaliza un Sujeto Excluido mientras no haya sido transmitido.
    </p>
    <form method="POST" action="{% url 'createSujetoExcluido' %}" enctype="multipart/form-data">
      {% csrf_token %} 
      {% if transmitido == "False" %}
        {% if object %}
          <div class=" border-black shadow-sm table-wrapper table-responsive-sm pt-0">
            <table id='sujetoExcluidoTable' class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col"><h4>DATOS</h4></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">Identificador</th>
                  <td>
                    <select name="identificador" class="form-select"> 
                      {% for identificador in identificadores %}
                        {% if object.identificador.id == identificador.id %}
                          <option name="identificador" selected  value="{{object.identificador.id}}">{{object.identificador.version}}</option>
                        {% else %}
                          <option name="identificador"  value="{{identificador.id}}">{{identificador.version}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </td>
                  <th scope="col">Acciones</th>
                  <td>
                      <a id="identificadorver" href="{% url 'identificadorVer'%}" 
                          class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Identificador">
                          <span class="material-symbols-outlined">
                          visibility 
                          </span>
                      </a>
                  </td>
                  <td>
                      <a id="identificadorcreate" href="{% url 'identificadorCreate'%}" 
                          class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Nuevo Identificador">
                          <span class="material-symbols-outlined">
                          add
                          </span>
                      </a>
                  </td>
                </tr>
                <tr>
                  <th scope="col">Emisor</th>
                  <td>
                      <select name="emisor" class="form-select"> 
                        {% for emisor in emisores %}
                          {% if object.emisor.id == emisor.id %}
                            <option name="emisor" selected value="{{object.emisor.id}}">{{object.emisor.name}}</option>
                          {% else %}
                            <option name="emisor" value="{{emisor.emisor.id}}">{{emisor.emisor.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                    <th scope="col">Acciones</th>
                    <td>
                        <a id="emisorrver" href="{% url 'emisorVer'%}" 
                            class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Emisor">
                            <span class="material-symbols-outlined">
                            visibility 
                            </span>
                        </a>
                    </td>
                    <td>
                        <a id="emisorcreate" href="{% url 'emisorCreate'%}" 
                            class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Nuevo Emisor">
                            <span class="material-symbols-outlined">
                            add
                            </span>
                        </a>
                    </td>
                  <th scope="col">Receptor</th>
                  <td>
                      <select name="receptor" class="form-select"> 
                        {% for receptor in receptores %}
                          {% if obejct.receptor.id == receptor.id %}
                            <option name="recpetor" selected value="{{object.receptor.id}}">{{object.receptor.name}}</option>
                          {% else %}
                            <option name="recpetor" selected value="{{receptor.receptor.id}}">{{receptor.receptor.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                    <th scope="col">Acciones</th>
                    <td>
                        <a id="receptorver" href="{% url 'receptorVer'%}" 
                            class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Receptor">
                            <span class="material-symbols-outlined">
                            visibility 
                            </span>
                        </a>
                    </td>
                    <td>
                        <a id="receptorcreate" href="{% url 'receptorCreate'%}" 
                            class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Nuevo Receptor">
                            <span class="material-symbols-outlined">
                            add
                            </span>
                        </a>
                    </td>
                </tr>
              </tbody>
            </table>
            <br>
            {% if operaciones %}
              <div class="card-body ">
                <h4 class="float-start">Operaciones del Sujeto Excluido</h4>
              </div>
              <div class="border-black shadow-sm table-wrapper table-responsive-sm pt-0">
                <a id="operacioncreate" href="{% url 'operacionCreate'%}" 
                    class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Nueva Operacion">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
              </div>
              <div class=" border-light shadow-sm table-wrapper table-responsive-sm pt-0">
                <table id='operacionesSujetoExcluido' class="table table-hover" >
                  <thead>
                    <tr>
                      <th scope="col">Operaciones del Sujeto Excluido</th>
                      <th scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody id="operaciones_sujeto">
                    <tr>
                      <td id="col0">
                          <select name="operaciones" class="form-select"> 
                            {% for registro in operaciones %}
                              {% if registro.operaciones.id == 0 %}
                                <option name="operaciones" selected value="{{registro.id}}">{{registro.tipoItem}}</option>
                              {% endif %}
                                <option name="operaciones"  value="{{registro.id}}">{{registro.tipoItem}}</option>
                            {% endfor %}
                          </select>
                        </td>
                        <td id="col1">
                            <a id="operacionver" href="{% url 'operacionVer'%}" 
                                class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Operacion">
                                <span class="material-symbols-outlined">
                                visibility 
                                </span>
                            </a>
                        </td>
                    </tr>
                  </tbody>
                </table>
                {% if object.transmitido == "False" %}
                  <table> 
                    <tr> 
                      <td>
                        <button type="button"  onclick="addRowsC()" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                          title="Agregar nueva linea"><span class="material-symbols-outlined badge badge-success">add</span>
                        </button>
                      </td> 
                      <td>
                        <button type="button"  onclick="deleteRowsC({{ cantidadoperaciones }})" class="btn  btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                          title="Eliminar linea"><span class="material-symbols-outlined badge badge-danger">remove</span> 
                        </button>
                      </td> 
                    </tr>  
                  </table>
                {% endif %}
              {% else %}
              <div class="card-body">
                <p class="float-start">NO HAY OPERACIONES EN EL SISTEMA </p>
                {% if object.transmitido == "False" %}
                <a id="operaciones" href="{% url 'crearOperacion' object.id %}" 
                  class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nueva Operacion">
                  <span class="material-symbols-outlined">
                    list_alt_add
                  </span>
                </a>
                {% endif %}
              </div>
            {% endif %}
            <br>
            <br>
            <div class="card-body ">
              <h4 class="float-start">Resumen del Documento</h4>
            </div>
            <div class="border-light shadow-sm table-wrapper table-responsive-sm pt-0">
              <table id="cuerpodocumento" class="table table-hover" >
                <tbody>
                  <tr>
                    <td>
                      <input class="form-control" type="text" name="totalcompra" id="totalcompra" value="{{ object.totalCompra }}" placeholder="Total de Operaciones">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="descu" id="descu" value="{{ object.descu }}" placeholder="Monto Global de Descuento">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="totaldescu" id="totaldescu" value="{{ object.totalDescu }}" placeholder="Total del Monto de Descuento">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input class="form-control" type="text" name="subtotal" id="subtotal" value="{{ object.subTotal }}" placeholder="Subtotal">
                    </td>
                    <td>
                      <select name="retencionivamh" class="form-select"> 
                        {% for retencion in retencionesIvaMH %}
                          {% if object.retencionesIvaMH.id == retencion.id %}
                            <option name="retencionivamh" selected  value="{{retencion.id}}">{{retencion.name}}</option>
                          {% else %}
                            <option name="retencionivamh" value="{{retencion.id}}">{{retencion.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <input class="form-control" type="text" name="ivarete1" id="ivarete1" value="{{ object.ivaRete1 }}" placeholder="IVA Retenido">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input class="form-control" type="text" name="reterenta" id="reterenta" value="{{ object.reteRenta }}" placeholder="Retencion de Renta">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="totalpagar" id="totalpagar" value="{{ object.totalPagar }}" placeholder="Total a Pagar">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="totalletras" id="totalletras" value="{{ object.totalLetras }}" placeholder="Total en Letras">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select name="condicionoperacion" class="form-select"> 
                        {% for condicion in condicionesOperaciones %}
                          {% if object.condicionOperacion.id == condicion.id %}
                            <option name="condicionoperacion" selected  value="{{condicion.id}}">{{condicion.name}}</option>
                          {% else %}
                            <option name="condicionoperacion" value="{{condicion.id}}">{{condicion.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <input class="form-control" type="text" name="retencionivamh" id="retencionivamh" value="{{ object.retencionivamh }}" placeholder="Retencion IVA MH">
                      <select name="pago" class="form-select"> 
                        {% for pago in pagos %}
                          {% if object.pago.id == pago.id %}
                            <option name="pago" selected value="{{pago.id}}">{{pago.formaPago.valor}}</option>
                          {% else %}
                            <option name="pago" value="{{pago.id}}">{{pago.formaPago.valor}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <input class="form-control" type="text" name="observaciones" id="observaciones" value="{{ object.observaciones }}" placeholder="Observaciones">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body ">
              <h4 class="float-start">Apendice del Documento</h4>
            </div>
            <div class="border-black shadow-sm table-wrapper table-responsive-sm pt-0">
              <a id="apendicecreate" href="{% url 'apendiceCreate'%}" 
                  class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Nuevo Apendice">
                  <span class="material-symbols-outlined">
                  add
                  </span>
              </a>
            </div>
            <div class="border-light shadow-sm table-wrapper table-responsive-sm pt-0">
              <table id="tableApendice" class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Apendice</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tr>
                  <td id="col0">
                    <select name="apendice" id="apendice" class="form-select"> 
                      {% for apendice in apendices %}
                        {% if object.apendice.id == apendice.id %}
                          <option name="apendice" selected value="{{apendice.id}}">{{apendice.campo}}</option>
                        {% else %}
                          <option name="apendice" value="{{apendice.id}}">{{apendice.campo}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </td>
                  <td id="col1">
                      <a id="apendicever" href="#" 
                          class="btn btn-success float-end"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Apendice">
                          <span class="material-symbols-outlined">
                          visibility 
                          </span>
                       </a>
                  </td>
                </tr>
              </table>
              <table> 
                <tr> 
                  <td>
                    <button type="button"  onclick="addApendiceSelect()" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                      title="Agregar Nueva Linea"><span class="material-symbols-outlined badge badge-success">add</span>
                    </button>
                  </td> 
                  <td>
                    <button type="button"  onclick="deleteRowsApendice({{ cantidadApendice }})" class="btn  btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                      title="Eliminar linea"><span class="material-symbols-outlined badge badge-danger">remove</span> 
                    </button>
                  </td> 
                </tr>  
              </table>
            </div>
            <div class="card-body submit-row">
              <a href="javascript:history.back()" class="float-start btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                title="Regresar" role="button" aria-pressed="true">Regresar
              </a>
              {% if obejct.transmitido == "False" %}
              <input type="submit" id="sujeto" class="float-end btn btn-primary" data-bs-toggle="tooltip" 
                data-bs-placement="bottom" title="Guardar cambios" value="Guardar">
              {% endif %}
            </div>
          </div>
        {%  endif %}
      {% else %}
        <div class="alert alert-danger" role="alert">
         El sujeto excluido que esta intentando actualizar ya a sido tranmitido y no puede ser actualizado.
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}