{% extends "../index.html" %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" m-2" id="msg" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h3 class="display-5 fw-bold">Detalle del sujeto excluido {{identificador.version}}
      {% if not sujetoExcluido.transmitido %}
        <a id="tramite" href="{% url 'sujetoExcluidoUpdateView' object.id %}?next={{ request.path }}" 
            class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Sujeto Excluido">
            <span class="material-symbols-outlined">
              edit
            </span>
        </a>
      {% endif %}  
      </h3>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="table-responsive">
        {% if identificador %}
          <h2>Identificador</h2>
          <a id="identificador" href="{% url 'identificadorUpdate' sujetoExcluido.id %}?next={{ request.path }}" 
          class="btn btn-success mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar el Identificador de la Factura">
            <span class="material-symbols-outlined">
              edit
            </span>
        </a>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><strong>Versión</strong></td>
                <td>{{ identificador.version }}</td>
                <td><strong>Ambiente de destino</strong></td>
                <td>{{ identificador.ambiente }}</td>
              </tr>
              <tr>
                <td><strong>Tipo de documento</strong></td>
                <td>{{ identificador.tipoDte.valores }}</td>
                <td><strong>Número de Control</strong></td>
                <td>{{ identificador.numeroControl }}</td>
              </tr>
              <tr>
                <td><strong>Código de Generación</strong></td>
                <td>{{ identificador.codigoGeneracion }}</td>
                <td><strong>Modelo de Facturación</strong></td>
                <td>{{ identificador.tipoModelo }}</td>
              </tr>
              <tr>
                <td><strong>Tipo de Transmisión</strong></td>
                <td>{{ identificador.tipoOperacion }}</td>
                <td><strong>Tipo de Contingencia</strong></td>
                <td>{{ identificador.tipoContingencia }}</td>
              </tr>
              <tr>
                <td><strong>Motivo de Contingencia</strong></td>
                <td>{{ identificador.motivoContin }}</td>
                <td><strong>Fecha de Generación</strong></td>
                <td>{{ sujetoExcluido.fecha }}</td>
              </tr>
              <tr>
                <td><strong>Tipo de Moneda</strong></td>
                <td>{{ identificador.tipoMoneda }}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        {% endif %}
        {% if not Identificador %}
        <a id="identificador" href="{% url 'identificadorCreate' sujetoExcluido.id %}?next={{ request.path }}" 
          class="btn btn-success mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Agregar el Identificador a la Factura">
            <span class="material-symbols-outlined">
              list_alt_add
            </span>
        </a>
        <p>No se a ingresado un identificador para este  sujeto excluido</p>
      {% endif %}
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Datos del Emisor</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>Emisor</strong></td>
            <td>{{ sujetoExcluido.emisor.razonSocial }}</td>
            <td><strong>Dirección del Emisor</strong></td>
            <td>{{ sujetoExcluido.emisor.direccionEmisor.complementoDireccion }}</td>
          </tr>
          <tr>
            <td><strong>Teléfono Móvil</strong></td>
            <td>{{ sujetoExcluido.emisor.cellphone }}</td>
            <td><strong>Email</strong></td>
            <td>{{ sujetoExcluido.emisor.email }}</td>
          </tr>
          <tr>
            <td><strong>NIT</strong></td>
            <td>{{ sujetoExcluido.emisor.nit }}</td>
            <td><strong>Código del establecimiento MH</strong></td>
            <td>{{ sujetoExcluido.emisor.codEstableMH }}</td>
          </tr>
          <tr>
            <td><strong>Código del punto de venta MH</strong></td>
            <td>{{ sujetoExcluido.emisor.codPuntoVentaMH }}</td>
            <td><strong>Código del establecimiento</strong></td>
            <td>{{ sujetoExcluido.emisor.codEstable }}</td>
          </tr>
          <tr>
            <td><strong>Código del punto de venta</strong></td>
            <td>{{ sujetoExcluido.emisor.codPuntoVenta }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Datos del Sujeto Excluido</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>Nombre o Razón Social</strong></td>
            <td>{{ sujetoExcluido.receptor.nombre }}</td>
            <td><strong>Direccion</strong></td>
            <td>{{ sujetoExcluido.receptor.direccionReceptor.complementoDireccion }}</td>
          </tr>
          <tr>
            <td><strong>Actividad Económica</strong></td>
            <td>{{ sujetoExcluido.receptor.actividadEconomica.valor }}</td>
          </tr>
          <tr>
            <td><strong>Tipo de Documento</strong></td>
            <td>{{ sujetoExcluido.receptor.tipo }}</td>
            <td><strong>Número de Documento</strong></td>
            <td>{{ sujetoExcluido.receptor.numero }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Operaciones</h2>
      {% if not sujetoExcluido.transmitido %}
        <a id="operacion" href="{% url 'operacionSujetoExcluidoCreate' sujetoExcluido.id %}?next={{ request.path }}" 
          class="btn btn-success mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Operación de Sujeto Excluido">
            <span class="material-symbols-outlined">
              list_alt_add
            </span>
        </a>
      {% endif %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>N° de Item</th>
            <th>Tipo de Item</th>
            <th>Código</th>
            <th>Unidad de Medida</th>
            <th>Cantidad</th>
            <th>Monto del Descuento</th>
            <th>Ventas</th>
            <th>Retención</th>
            <th>Precio Unitario</th>
            <th>Ver</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          {% for operacion in operacionesSujetoExcluido %}
            <tr>
              <td>{{ operacion.numItem }}</td>
              <td>{{ operacion.tipoItem }}</td>
              <td>{{ operacion.codigo }}</td>
              <td>{{ operacion.uniMedida.valor }}</td>
              <td>{{ operacion.cantidad }}</td>
              <td>{{ operacion.montoDescu }}</td>
              <td>{{ operacion.compra }}</td>
              <td>{{ operacion.retencion }}</td>
              <td>{{ operacion.precioUni }}</td>
              <td>
                <a href="{% url 'operacionSujetoExcluidoVer' operacion.id %}?next={{ request.path }}" class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Operación">
                  <span class="material-symbols-outlined">visibility</span>
                </a>
              </td>
              <td>
                {% if not sujetoExcluido.transmitido %}
                  <a href="{% url 'operacionSujetoExcluidoUpdate' operacion.id %}?next={{ request.path }}" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Operación">
                    <span class="material-symbols-outlined">edit</span>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not operacionesSujetoExcluido %}
        <p>No hay operaciones sobre el sujeto excluido</p>
      {% endif %}
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Resumen</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>Total de Operaciones</strong></td>
            <td>{{ sujetoExcluido.totalCompra }}</td>
            <td><strong>Sub Total</strong></td>
            <td>{{ sujetoExcluido.subTotal }}</td>
          </tr>
          <tr>
            <td><strong>Monto Global del Descuento</strong></td>
            <td>{{ sujetoExcluido.descu }}</td>
            <td><strong>Total del Monto de Descuento</strong></td>
            <td>{{ sujetoExcluido.totalDescu }}</td>
          </tr>
          <tr>
            <td><strong>Retencion IVA MH</strong></td>
            <td>{{ sujetoExcluido.retencionIVAMH }}</td>
            <td><strong>IVA Retenido</strong></td>
            <td>{{ sujetoExcluido.ivaRete1 }}</td>
          </tr>
          <tr>
            <td><strong>Retencion de Renta</strong></td>
            <td>{{ sujetoExcluido.reteRenta }}</td>
            <td><strong>Condicion de la Operacion</strong></td>
            <td>{{ sujetoExcluido.condicionOperacion }}</td>
          </tr>
          <tr>
            <td><strong>Total a Pagar</strong></td>
            <td>{{ sujetoExcluido.totalPagar }}</td>
            <td><strong>Total en Letras</strong></td>
            <td>{{ sujetoExcluido.totalLetras }}</td>
          </tr>
          <tr>
            <td><strong>Codigo del Pago</strong></td>
            <td>{{ sujetoExcluido.pago.codigo }}</td>
            <td><strong>Forma de Pago</strong></td>
            <td>{{ sujetoExcluido.pago.formaPago.valor }}</td>
          </tr>
          <tr>
            <td><strong>Monto por Forma de Pago</strong></td>
            <td>{{ sujetoExcluido.pago.montoPago }}</td>
            <td><strong>Referencia de la modalidad de Pago</strong></td>
            <td>{{ sujetoExcluido.pago.referencia }}</td>
          </tr>
          <tr>
            <td><strong>Plazo</strong></td>
            <td>{{ sujetoExcluido.pago.plazo }}</td>
            <td><strong>Periodo</strong></td>
            <td>{{ sujetoExcluido.pago.periodo }}</td>
          </tr>
          <tr>
            <td><strong>Observaciones</strong></td>
            <td><p>{{ sujetoExcluido.observaciones }}</p></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h2>Apendices</h2>
      {% if not sujetoExcluido.transmitido %}
        <a id="apendice" href="{% url 'apendiceCreate' sujetoExcluido.id %}?next={{ request.path }}" 
          class="btn btn-success mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Agregar Apendice a la Factura">
            <span class="material-symbols-outlined">
              list_alt_add
            </span>
        </a>
      {% endif %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre del Campo</th>
            <th>Valor/Dato</th>
            <th>Descripccion</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          {% for apendice in apendices %}
            <tr>
              <td>{{ apendice.campo }}</td>
              <td>{{ apendice.valor }}</td>
              <td>{{ apendice.etiqueta }}</td>
              <td>
                {% if not sujetoExcluido.transmitido %}
                  <a href="{% url 'apendiceUpdate' apendice.id %}?next={{ request.path }}" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Actualizar Apendice">
                    <span class="material-symbols-outlined">edit</span>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not apendices %}
        <p>No hay apendices sobre el sujeto excluido</p>
      {% endif %}
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-6 text-start">
      <a href="{{ next }}" class="btn btn-primary d-inline-flex align-items-center">
        <span class="material-symbols-outlined me-2">arrow_back</span>
        <span>Regresar</span>
      </a>
    </div>
    <div class="col-md-6 text-end">
      <form action="{% url 'transmitirSujetoExcluido' sujetoExcluido.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="origin" value="sujetoExcluido">
        <button type="submit" class="btn btn-success d-inline-flex align-items-center"><span class="material-symbols-outlined me-2">send</span>Transmitir</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
