{% extends "../base.html" %}

{% block content %}
    <h1>Direccion</h1>
    <form method= "post">
        {% csrf_token %}
        {{ form.complementoDireccion.label_tag }}
        {{ form.complementoDireccion }}
        <div class="form-group row">
            {% if form.municipio.field.queryset.exists %}
                <label for="{{ form.municipio.id_for_label }}" class="col-md-2 control-label">{{ form.municipio.label}}</label>
                <div class="col-sm-8">
                    {{ form.municipio }}
                </div>
            {% else %}
                <P>No hay ningun municipio ingresado en el sistema.</P>
            {% endif %} 
            <div class="col-sm-2">
                <a id="municipio" href="{% url 'municipioCreate' %}" 
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear Nuevo Municipio">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
            </div>
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="Guardar">
        <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}