{% extends "../base.html" %}

{% block content %}
    <h1>Municipio</h1>
    <form method= "post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ form.codigo.id_for_label }}" class="col-md-2 control-label">{{ form.codigo.label }}</label>
            <div class="col-sm-8">
                {{ form.codigo }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.valor.id_for_label }}" class="col-md-2 control-label">{{ form.valor.label }}</label>
            <div class="col-sm-8">
                {{ form.valor }}
            </div>
        </div>
        <div class="form-group row">
            {% if form.departamento.field.queryset.exists %}
                <label for="{{ form.departamento.id_for_label }}" class="col-md-2 control-label">{{ form.departamento.label}}</label>
                <div class="col-sm-8">
                    {{ form.departamento }}
                </div>
            {% else %}
                <P>No hay ningun departamento ingresado en el sistema.</P>
            {% endif %} 
            <div class="col-sm-2">
                <a id="departamento" href="{% url 'departamentoCreate'%}?next={{ request.path }}"  
                    class="btn btn-success  "  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ingresar Nuevo Departamento">
                    <span class="material-symbols-outlined">
                    add
                    </span>
                </a>
                {% if departamento_id %}
                    <a id="departamento" href="{% url 'departamentoUpdate' departamento_id %}?next={{ request.path }}" 
                    class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar Departamento">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <br>
        <input class="btn btn-success" type="submit" value="Guardar">
        <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}